.icon path {
    stroke: rgba(100, 116, 139);
    pointer-events: visibleFill;
}

.icon path:hover {
    stroke: #1E7376;
    /* color: #06cc31; */
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}